body {
  font-family: Arial, Helvetica, sans-serif;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url("images/cake.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  background-attachment: fixed;
}

header {
  margin-bottom: 30px;
}

h1 {
  font-weight: 800;
  font-size: 36px;
  line-height: 1.5;
  color: #272004;
  text-align: center;
}

form {
  display: flex;
}

footer {
  text-align: center;
  font-size: 13px;
  margin-top: 30px;
}

a {
  color: #e26c27;
}

.container {
  margin: 120px auto;
  max-width: 600px;
}

.form-container {
  padding: 15px 20px;
  margin-bottom: 30px;
  background-color: #f9f7fe;
  border-radius: 10px;
  box-shadow: 0px 20px 60px rgba(65, 50, 100, 0.08);
}

.instructions {
  padding: 16px;
  border: 1px solid rgba(39, 33, 66, 0.5);
  width: 80%;
  border-radius: 50px;
  line-height: 20px;
  font-size: 16px;
  color: #272004;
}

.submit-button {
  margin-left: 10px;
  background-color: #e26c27;
  border: none;
  border-radius: 50px;
  color: #f9f7fe;
  padding: 14px 24px;
  width: 150px;
  font-size: 16px;
}

.hint {
  font-size: 12px;
  line-height: 1.5;
  margin-top: 5px;
  opacity: 0.6;
}

.recipe {
  font-size: 18px;
  background-color: #f9f7fe;
  /* background-color: rgba(255, 255, 255, 0.5); */
  padding: 20px;
  line-height: 1.5;
  border-left: 3px solid #e26c27;
  box-shadow: 0px 20px 60px rgba(39, 33, 66, 0.03);
}

.recipe strong {
  color: #e26c27;
}

.hidden {
  display: none;
}

.generating {
  animation: blink-animation 1s steps(5, start) infinite;
}

@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}

.ingredient-heading,
.instruction-heading {
  font-weight: bold;
  color: #e26c27;
  margin-top: 20px;
  margin-bottom: 5px;
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 26px;
  }
  form {
    padding: 15px;
  }
  footer {
    font-size: 11px;
  }
  .container {
    min-width: 200px;
  }
  .form-container {
    padding: 10px;
    margin-bottom: 30px;
  }
  .submit-button {
    padding: 7px 12px;
  }
  .instructions {
    padding: 10px;
    line-height: 10px;
  }
  .hint {
    margin-top: 0px;
    margin-left: 5px;
  }
}
